.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Jua", "Crimson Text", "Gothic", sans-serif;
}

a {
  color: #FFDD55;
}

a:hover {
  color: #FF9955;
}

.ct_heading {
  background: #FF9955;
}
.heading {
  padding: 30px;
}

.heading .title {
  color: #FFFFFF;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-color: #FFDD55;
  color: #FF9955;
}

.categories {
  display: flex;
  padding: 0;
}

.category {
  color: #FF9955;
}

.nav_list {
  margin: auto;
  padding: 0;
  list-style: none;
}

.nav_item {
  display: inline-block;
}
