<section class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">
                {{ site.title }}
            </p>
            <p class="subtitle is-4">
                <em>{{ site.data.header.message }}</em>
            </p>
        </div>
    </div>
    {% for category in site.categories %}
    {% capture cat_name %}{{ category | first }}{% endcapture %}
    <ul class="nav_list">
        <li class="nav_item">
            <a href="{{ site.baseurl }}/categories/{{ cat_name }}" id="aa">{{ cat_name }}
                ({{ category | last | size }})</a>
        </li>
    </ul>
    {% endfor %}
</section>