<head>
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="Qhz9hP-Lzv7ADfH4jYMpmHvybqKfnT0zJgvrkfhC-fQ" />
    <meta name="naver-site-verification" content="ff0c55a9aaed9fb48cfd3fc4577bf8d22f7d61c9" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
</head>