@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #666;
}

* {
  user-select: none;
}

#root>.swiper>.swiper-pagination {
  opacity: 0;
}
#root>.swiper>.swiper-pagination:hover {
  opacity: 1;
}

.swiper-pagination-bullet {
  position: relative;
  text-align: right;
  width: 120px !important;
  height: 20px !important;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  background: #00000000 !important;
  mix-blend-mode: difference;
  border-radius: 0 !important;
}

.swiper-pagination-bullet:hover {
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  font-weight: bold;
  color: #252525;
}

.swiper-button-disabled:hover {
  cursor: default;
  opacity: 0 !important;
}