@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
  @apply w-full h-screen;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#__next {
  @apply h-full flex flex-col;
}

.page {
  @apply flex-1 p-2 flex flex-col;
}

.header {
  @apply select-none flex flex-col items-center justify-center bg-black/80 pt-4;
}

.nav {
  @apply flex gap-3;
}

.nav .link {
  @apply py-1 px-2 text-brand/50 mb-0.5 font-semibold;
}

.nav .link.active {
  @apply border-b-2 border-b-brand text-brand;
}

.footer {
  @apply select-none text-center text-zinc-300 p-2 bg-black/5;
}

/**
 * Markdown
 */
.markdown {
  @apply prose max-w-full
}
.markdown h2 {
  @apply mt-0;
}
.markdown code {
  @apply bg-zinc-300 py-0.5 px-1.5 rounded text-sm font-gwdu;
}
.markdown code::before,
.markdown code::after {
  content: '';
}
.markdown img {
  @apply inline-block;
}
.markdown hr {
  @apply m-0;
}
